@mixin button-style($border, $size: 40px, $margin-top: 0, $margin-bottom: 0, $margin-right: 0) {
  display: inline-block;
  height: $size;
  width: $size;
  border: $border;
  margin-top: $margin-top;
  margin-bottom: $margin-bottom;
  margin-right: $margin-right;
}

@mixin button-color($color) {
  background-color: $color;
}